body {
  background-image: linear-gradient(#2B2B2B, #525252);
  color: #ffffff;
}

a:link {
  color: #58F0FC;
}

a:visited {
  color: #B0F9FF;
}

.filmImg {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 85%;
  height: auto;
}
  

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  height: auto;
}

.about {
  color: #E1FDFF;
  border: 50px solid transparent;
  padding: 80px;
  border-image: url(filmstockBorder.png) 50 round;
}

.widget {
  border-radius: 25px;
  border: 2px solid #E5DE40;
  background-color: #2B2B2B;
  color: #ffffff;
    padding: 15px 15px 15px 15px;
}

.panel {
  background-color: #58F0FC
}